@import 'adaptive';
.slider {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 1136px;
  margin: 0 auto;

  & .slides {
    display: flex;
    transition: transform 0.5s ease;
  }

  & .slide {
    min-width: 23.4%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #1111111A;
    border-radius: 15px;
    margin-left: 18px;
  }
}
.dots {
  text-align: center;
  padding-top: 10px;
  margin-top: 32px;
  
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50%;
    background: #1111111A;
    display: inline-block;
    transition: 500ms;

    &.active {
      width: 28px;
      height: 13px;
      background: #FD9222;
      border-radius: 30px;
    }
  }
}
.choclet{
  
  & .choclet__title {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 41px;
  }
  
  & .chocolet__cards--box--img {
    margin-top: 32px;
    margin-bottom: -13px;
  }
  
  & .chocolet__cards--box--title1 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
  }
  
  & .chocolet__cards--box--text1 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: -16px;
  }
  
  & .chocolet__cards--box--button {
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid #1111111A;
    background: #FAFAFA;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 10px;
  }
  
}

button {
  cursor: pointer;
}

.modal {
  width: 609px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  & .modal__Title{
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
.modal__title{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;  
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
  color: black;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    position: absolute;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #4040404D;
    padding-left: 24px;
    padding-top: 23px;

    .form-group--svg{
      margin-left: 300px;
    }
  }
  input {
    box-sizing: border-box;
    width: 246px;
    height: 66px;
    border-radius: 13px;
    border: 1.5px solid #1111110D;

    &#email {
      width: 500px;
      height: 62px;
      border-radius: 13px;
      border: 1.5px solid #1111110D;
    }

    &#card {
      width: 500px;
      height: 66px;
      gap: 40px;
      border-radius: 13px;
      border: 1.5px solid #1111110D;
    }

    &#comment {
      width: 500px;
      height: 137px;
      gap: 40px;
      border-radius: 13px;
      border: 1.5px solid #1111110D;
    }
  }
}
.modalr {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.phone-input {
  display: flex;

  .flag {
    background-color: #0057b7;
    color: #ffd700;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
  }

  input {
    flex-grow: 1;
    border-radius: 10px;

  }
}

.submit {
  width: 133px;
  height: 45px;
  padding: 14px 40px;
  gap: 14px;
  border-radius: 100px;
  background: #FD9222;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #FFFFFF;
  display: flex;
}
.modal2{

  & .modal-content{
    width: 516px;
    height: 414px;
    background: linear-gradient(181.96deg, #F16529 1.64%, #D44528 98.35%);
    overflow: hidden;
    
  }

  & .modal-content--close{
    width: 38px;
    height: 38px;
    background: #FCF1E0;
    color: #F16529;
    border-radius: 100px;   
    display: flex;
    justify-content: center;
  }

  & .modal2__content--img{
    border-radius: 10px;
    margin-left: -20px;
    margin-top: -174px;
  }

  & .modal2__content--title{
    align-items: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 163px;
    margin-top: 154px;

  }

  & .modal2__content--text{
    max-width: 309px;
    width: 309px;
    height: 70px;
    align-items: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 163px;
  }
}
.slider {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 1136px; /* remove this fixed width */
  margin: 0 auto;
}

.slider .slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slider .slide {
  min-width: 23.4%; 
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #1111111A;
  border-radius: 15px;
  margin-left: 18px;
}


@media (max-width: 1200px) {
  .slider .slide {
    min-width: 30%;
  }
}

@media (max-width: 992px) {
  .slider .slide {
    min-width: 40%; 
  }
  footer{
    height: 270px!important;
    & .footer__container--content--title{
      margin-right: 120px!important;
      margin-left: 74px!important;
    }
    & .footer__container--contact{
        margin-right: 50px!important;
    }
    & .footer__container--line{
        width: 704px!important;
    }
    & .footer__container{
      margin-left: -58px!important;
        
      & .footer__container--buttons{
        margin-left: -1px!important;
      }
    }
}
}

@media (max-width: 768px) {
  .slider .slide {
    min-width: 40%; 
  }
  footer{
    height: 740px!important;
    & .footer__container--content--title{
        margin-right: px!important;
        width: 300px!important;
        margin-left: px!important;
    }
    & .footer__container--contact{
        margin-right: 50px!important;
    }
    & .footer__container--line{
        width: 335px!important;
    }
    & .footer__container{
      margin-left: 32px!important;

      & .footer__container--content{
        display: flex;
        flex-direction: column;
      }
      & .footer__container--buttons{
        display: flex!important;
        flex-direction: column!important;
        margin-left: -px;

        &.footer__container--buttons--button{
          padding-bottom: 18px!important;

        }
      }
    }
}
  .modalr{
    display: flex!important;
    flex-direction: column!important;
    
    & .form-group input{
      max-width: 500px;
      width: 500px;
      height: 66px;
      flex-grow: 1!important;
    }
  }
}

@media (max-width: 480px) {
  .slider .slide {
    min-width: 91%; 
  }
  .modalr{
    display: flex!important;
    flex-direction: column!important;
    
    & .form-group input{
      width: 288px!important;
      height: 66px;
    }
  }
  .form-group input#email{
    width: 288px!important;
  }
  .form-group input{
    width: 288px!important;
  }
  .modal2 .modal-content{
    width: 290px!important;

    & .modal2__content--title{
      margin-top: 84px!important;
      margin-left: 64px!important;
    }
    & .modal2__content--text{
      margin-left: 64px!important;
      margin-top: -8px!important;
      width: 230px;
    }
    & .modal2__content--img{
      transform: rotate(-20deg);
      margin-top: -62px;
      margin-left: -55px;
    }
  }
}
footer{
  background-color: #1E1823;
  margin: -8px;
  max-height: 800px;
  height: 270px;
  margin-top: 45px;
  
  & .footer__container{
    

    & .footer__container--content{
      display: flex;
      justify-content: center;

      & .footer__container--content--title{
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFFFF;
        width: 300px;
        margin-right: 543px;
        padding-top: 40px;
        padding-bottom: 50px;
      }
    }

    & .footer__container--buttons{
       padding-top: 24px;
       display: flex;
       justify-content: center;
       margin-left: -515px;

      & .footer__container--buttons--button{
        margin-left: 32px;
        margin-right: 24px;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }
    }


    & .footer__container--contact{
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: #FFFFFF;
      margin-right: 63px;
      padding-top: 60px;
      & .footer__container--contact--title{
        
                
      }
    }
     & .footer__container--svg{
      margin-right: 18px;
      padding-top: 75px;
    }
  }

  & .footer__container--line{
      border: 1px solid #FFFFFF1A;
      width: 1136px;
      display: block; 
      margin: 0 auto;
      align-items: center;
  }
  .modalr{
    display: flex!important;
    flex-direction: column!important;
    
    & .form-group input{
      max-width: 263px;
      width: 263px;
      height: 66px;
    }
  }
}